.terms
{
    &__item--strong{
        font-weight: 600;
    }
    &__title {
    font-weight: 700;
    }
    &__link{
        color: $white;
        font-weight: 700;
        text-decoration: underline;
    }
}