.feedback {
    display: flex;
    flex-direction: column;
    padding-top: 80px;

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch
    }
    &__title {
        @include section-title;

    }
    &__text {
        @include section-text;
        margin: 0;
        padding-top: 12px;
        padding-bottom: 40px
    }
    &__card {
        @include border (10px);
        padding: 30px;
        display: flex;
        flex-direction: column;
        margin-inline: 10px;
        height: 100%;
        &--heading {
            font-size: 18px;
            font-weight: 600;
        }
        &--text {
            font-size: 14px;
            line-height: 21px;
            flex-grow: 1;
        }
        &--appraisal {
            width: 222px;
            height: 36px;
        }

    }
    &__swiper {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__button {
        @include viewAll;
    }
}
.person {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: auto;
    gap: 10px;
    &__info {

    
    &_name {
        font-size: 16px;
        margin: 0;
    }
    &_city {
        font-size: 14px;
        color:$grey;
        margin: 0;
    }
}
    &__photo {
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
}
.swiper-slide {
    display: flex;
    height: 100%;
}
.slider__item {
    height: 100%;
}
  
  .slider__item {
    display: flex;
    align-items: stretch;
  }
  .slider-container {
     height: auto;
  }

