.achievements {
    &__cards{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    &__card{
        padding: 30px;
        box-shadow: 0px 0px 0px 4px #191919;
        @include border(10px);

        &-title{
            font-size: 20px;
        }


    }
}