.values {
    &__cards{
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) ;
        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $grey;
            top: 50%;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: $grey;
            left: 50%;
        }
    }

    &__card{
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        column-gap: 10px;
        padding: 24px;
        &-title{
            font-size: 22px;
        }
        &-description{
            @include section-text;
            grid-column: 1/3;
        }
        &:not(:last-child)::before{
            display: none;
        }

        }
    }
