
.footer {
    display: grid;
    grid-template-areas: 
    "logo email"
    "copy copy";
    row-gap: 10px;
    padding-block: 10px;
    padding-inline: 2vw;
}
.email__logo {
    grid-area: logo;
}
.social__wrapper {
    grid-area: copy;
}
.email__form {
    grid-area: email;
}