.feedback {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    
    &__card {

        &--heading {
            font-size: 24px;
        }
        &--text {
            font-size: 18px;
        }

    }

}
.person {

    &__info {

    
    &_name {
        font-size: 20px;
    }
    &_city {
        font-size: 18px;
    }
}
}

