.property-pricing{
    padding-top: 80px;
    &-wrapper{
        padding-top: 30px;
        display: grid;
        grid-template-columns:auto;
    }
    &__title{
        @include section-title
    }
    &__text{
         @include section-text;
    }
    &__note{
        background: $btnBg;
        padding: 24px 20px;
        @include border(8px);
        &-title{
            font-size: 18px;
            font-weight: 600;
            position: relative;
            &::after{
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background: $borderColor;
                position: absolute;
                bottom: -10px;
            }
        }
    }
    &__price{
        display: flex;
        flex-direction: column;
        gap: 5px;
        &-text{
            font-weight: 400;
            font-size: 14px;
            color: $grey;
            margin: 0;
        }
        &-value{
            font-size: 24px;
            font-weight: 600;
            margin: 0;
        }

    }
    &__card{
        @include border(12px);
        padding: 20px;
        grid-column: 2/3;
        &-item{
            display: grid;
            grid-template-areas: 
            "title title"
            "value note";
            column-gap: 10px;
        }
        &-title{
            @include section-text;
            grid-area: title;

        }
        &-value{
            font-size: 18px;
            font-weight: 600;
            grid-area: value;
            align-self: center;
        }
        &-note{
            background: $btnBg;
            @include section-text;
            @include border(6px);
            padding: 6px 12px;
            grid-area: note;
            display: inline-flex;
        }
    }
}
.hidden {
    display: none;
}