.properties{
    &__filter {

        &-form{
            position: relative;
            margin-bottom: 2px;
            max-width: 1100px;
        }
        &-selects{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

        }
    }
}