.info {
    background: url(/images/infoBg.webp) no-repeat local 50% 50%;
    background-size: cover;
    @include border (0px);
    padding: 50px 16px;
    margin-top: 80px;
    &__title {
        @include section-title;
    }
    &__text {
        @include section-text;
    }
    &__button {
        @include border (8px);
        display: flex;
        justify-content: center;
        padding-block: 14px;
        background: $pink;
        font-size: 14px;
        color: $white;
        font-weight: 500;
        margin-top: 20px;
    }
}