.questions {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    
    &__title {
        @include section-title;
    }
    &__text {
        @include section-text;
        margin: 0;
        padding-top: 12px;
        padding-bottom: 40px;
    }
    &__button {
        @include viewAll;
    }
    &__card {
        padding: 30px;
        @include border(10px);
        display: flex;
        flex-direction: column;
        margin-inline: 10px;
        &_title {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 20px;
            margin: 0;

        }
        &_text {
            @include section-text;
            margin: 0;
            padding-bottom: 20px;
            margin-top: auto;
        }
        &_button {
            @include viewAll;
            display: flex;
            justify-content: center;
        }
    }
}